.parentWrapper {
  padding: 2.5em 1em;
  max-width: 1320px;
  margin: auto;
}

.favoriteBtn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.5em;
  cursor: pointer;
  color: #f1c40f;
}
